<div class="news">
  {% if site.talks != blank %}
    {% assign talks_size = site.talks | size %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign talks = site.talks | reverse %}
        {% for item in talks limit: talks_size %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talk detail available...</p>
  {% endif %}
</div>
